<html>
<head>
  <title>
    <%= title %>
  </title>
  <%= csrf_meta_tag %>

  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'nicEdit' %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2778226-68']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '/images/nicEditorIcons.gif'}) });
</script>

<div class="wrapper">
  <div class="wrapper-header"> </div>
  <div class="container">
    <%= render 'layouts/header' %>

    <section class="round">
      <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
    
  </div>
  <div class="push"> </div>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>



</body>
</html>