

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title> Alliance of People with disAbilities - <%= title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'print',  :media => 'print' %>

  <%= stylesheet_link_tag '_grid', 'custom', :media => 'screen' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'nicEdit' %>

  <%= stylesheet_link_tag 'style', :media => 'screen' %>

  <link rel="pingback" href="http://disabilitypride.org/wordpress/xmlrpc.php" />

  <script type='text/javascript' src='http://disabilitypride.org/wordpress/wp-content/plugins/si-contact-form/captcha-secureimage/ctf_captcha.js?ver=3.0.1'></script>
  <script type='text/javascript' src='http://disabilitypride.org/wordpress/wp-includes/js/comment-reply.js?ver=20090102'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://disabilitypride.org/wordpress/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://disabilitypride.org/wordpress/wp-includes/wlwmanifest.xml" />
  <link rel='index' title='Alliance of People with disAbilities' href='http://disabilitypride.org/wordpress' />
  <link rel='prev' title='About' href='http://disabilitypride.org/wordpress/?page_id=2' />
  <link rel='next' title='News' href='http://disabilitypride.org/wordpress/?page_id=4' />
  <meta name="generator" content="WordPress 3.0.1" />
  <link rel='canonical' href='http://disabilitypride.org/wordpress/' />

  <link rel='stylesheet' type='text/css' href="http://disabilitypride.org/wordpress/wp-content/plugins/forum-server/skins/exclusive/style.css"  />



  <script language="JavaScript" type="text/javascript" src="http://disabilitypride.org/wordpress/wp-content/plugins/forum-server/js/script.js"></script>

  <script language="JavaScript" type="text/javascript">
      window.skinurl = 'http://disabilitypride.org/wordpress/wp-content/plugins/forum-server/skins/exclusive';		function wpf_confirm(){
          var answer = confirm ('Remove this post?');
          if (!answer)
              return false;
          else
              return true;
      }

  </script>


      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26509616-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<script type="text/javascript">
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '/images/nicEditorIcons.gif'}) });
</script>


<div id="container">
  <!--header starts-->
  <div id="header">
    <a id="logo_link" href="/"></a>
    <h1>Alliance of People with disAbilities </h1>
    <h2>I Dream. I Can. I Will.</h2>
    <div id="utility">
      <ul>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=11" title="Forum">forum</a></li>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=75" title="Contact the Alliance">contact</a></li>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=4" title="Sign up for the newsletter">newsletter</a></li>
      </ul>
    </div>

  </div>

  <div id="topDivider">
  </div>
  <!--header ends-->
  <header class="pad-bot-big">

  <div class="nav" style="float: left; padding: 5px 0 30px 0; display: block;">
    <table width="600px"> <tr style="padding-left: 10px; padding-right: 10px; font-size: 18px; font-weight: bold;">
      <td><a href="/all_jobs" class="nav">The Jobs</a></td>
      <td><a href="/jobs" class="nav">Post a Job</a></td>

      <% if user_signed_in? %>
          <td><a href="/users/edit" class="nav">My Account</a></td>
          <td><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></td>
      <% else %>
          <td><%= link_to "Sign In", new_user_session_path %></td>
      <% end %>

      <td><a href="/faq" class="nav">FAQ</a></td>
      </tr></table>
  </div>
</header>

  <div id="mainContent">


    <div class="wrapper">

      <div class="container">

        <section class="round">
          <% flash.each do |key, value| %>
              <div class="<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </section>

      </div>
      <div class="push"> </div>
    </div>



    <div id="btmDivider">
    </div>

    <div id="footer">



      <ul>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=170" title="site map">site map</a></li>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=75" title="Contact the Alliance">contact</a></li>
        <li><a href="http://disabilitypride.org/wordpress/?page_id=172" title="Privacy statement">privacy</a></li>
        <li><%= link_to "admin", "/admin" %></li>
        <!--<li><a href="http://disabilitypride.org/wordpress/?feed=rss2">rss</a></li>-->
      </ul>
      <table width="750" border="0" cellspacing="10px">
        <tr>
          <td>Seattle Voice: 206.545.7055</td>
          <td>TTY: 206.632.3456</td>
          <td>Toll-Free: 1.866.545.7055</td>
        </tr>
        <tr>
          <td>Bellevue Voice: 425.558.0993</td>
          <td>TTY: 425.861.9588</td>
          <td>Toll-Free: 1.800.216.3335</td>
        </tr>
      </table>

    </div>
  </div>
  <script type="text/javascript" >

      fold();
      function notify(){

          var answer = confirm ('');
          if (!answer)
              return false;
          else
              return true;
      }


</body>
</html>

